http:
{% if traefik_http %}
  routers:
{% for route in traefik_http %}
{% if route.tls | default(false) %}
    {{ route.name }}-http:
      rule: {{ route.rule }}
      service: {{ route.name }}
      entryPoints: [web]
      middlewares: [https-redirect{{ ', ' ~ route.name ~ '-ipallow' if route.allowed_ips is defined }}]

    {{ route.name }}:
      rule: {{ route.rule }}
      service: {{ route.name }}
      entryPoints: [websecure]
      middlewares: [security-headers{{ ', ' ~ route.name ~ '-ipallow' if route.allowed_ips is defined }}]
{% if traefik_acme_email | length > 0 %}
      tls:
        certResolver: letsencrypt
{% else %}
      tls: {}
{% endif %}

{% else %}
    {{ route.name }}:
      rule: {{ route.rule }}
      service: {{ route.name }}
      entryPoints: [{{ route.name if route.port is defined else 'web' }}]
{% if route.host_header is defined and route.allowed_ips is defined %}
      middlewares: [{{ route.name }}-host, {{ route.name }}-ipallow]
{% elif route.host_header is defined %}
      middlewares: [{{ route.name }}-host]
{% elif route.allowed_ips is defined %}
      middlewares: [{{ route.name }}-ipallow]
{% endif %}

{% endif %}
{% endfor %}

  services:
{% for route in traefik_http %}
    {{ route.name }}:
      loadBalancer:
{% if route.skip_tls_verify | default(false) %}
        serversTransport: insecure-skip-verify
{% endif %}
        servers:
{% for backend in route.backends %}
          - url: {{ backend }}
{% endfor %}

{% endfor %}

  serversTransports:
    insecure-skip-verify:
      insecureSkipVerify: true
{% endif %}

  middlewares:
    https-redirect:
      redirectScheme:
        scheme: https
        permanent: true

    security-headers:
      headers:
        stsSeconds: 31536000
        stsIncludeSubdomains: true
        stsPreload: true
        forceSTSHeader: true
        contentTypeNosniff: true
        browserXssFilter: true
        frameDeny: true
        referrerPolicy: strict-origin-when-cross-origin

{% for route in traefik_http | default([]) %}
{% if route.host_header is defined %}
    {{ route.name }}-host:
      headers:
        customRequestHeaders:
          Host: {{ route.host_header }}

{% endif %}
{% if route.allowed_ips is defined %}
    {{ route.name }}-ipallow:
      ipAllowList:
        sourceRange:
{% for ip in route.allowed_ips %}
          - {{ ip }}
{% endfor %}

{% endif %}
{% endfor %}

{% if traefik_tcp %}
tcp:
  routers:
{% for route in traefik_tcp %}
    {{ route.name }}:
      entryPoints: [{{ route.name }}]
      rule: {{ route.rule }}
      service: {{ route.name }}
{% if route.tls_passthrough | default(false) %}
      tls:
        passthrough: true
{% endif %}

{% endfor %}

  services:
{% for route in traefik_tcp %}
    {{ route.name }}:
      loadBalancer:
        servers:
{% for backend in route.backends %}
          - address: {{ backend }}
{% endfor %}

{% endfor %}
{% endif %}

tls:
{% if traefik_tls_cert | length > 0 and traefik_tls_key | length > 0 %}
  certificates:
    - certFile: /etc/traefik/certs/cert.pem
      keyFile: /etc/traefik/certs/key.pem
{% endif %}

  options:
    default:
      minVersion: VersionTLS12
      cipherSuites:
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256
