entryPoints:
  web:
    address: ":80"
{% if traefik_http | selectattr('tls', 'defined') | selectattr('tls') | list | length > 0 %}
  websecure:
    address: ":443"
{% endif %}
{% for route in traefik_http | default([]) %}
{% if route.port is defined %}
  {{ route.name }}:
    address: ":{{ route.port }}"
{% endif %}
{% endfor %}
{% for route in traefik_tcp | default([]) %}
  {{ route.name }}:
    address: ":{{ route.port }}"
{% endfor %}

providers:
  file:
    filename: /etc/traefik/dynamic.yml
    watch: true

{% if traefik_acme_email | length > 0 %}
certificatesResolvers:
  letsencrypt:
    acme:
      email: {{ traefik_acme_email }}
      storage: /etc/traefik/acme/acme.json
      caServer: {{ traefik_acme_server }}
      httpChallenge:
        entryPoint: web
{% endif %}

log:
  level: INFO
